torch --index-url https://download.pytorch.org/whl/torch/
torchvision --index-url https://download.pytorch.org/whl/torchvision/
torchaudio --index-url https://download.pytorch.org/whl/torchaudio/
autodistill
autodistill-grounding-dino
supervision
roboflow
ultralytics
django
flake8