torch --index-url https://download.pytorch.org/whl/torch/
torchvision --index-url https://download.pytorch.org/whl/torchvision/
torchaudio --index-url https://download.pytorch.org/whl/torchaudio/
ultralytics
django
flake8