div#dataset-create {
	grid-area: main;
	display: block;
	background-color: #232a33;
	outline: 3px solid #1c799a;
	margin: auto;
	height: 60%;
	width: 40%;
	max-width: 500px;
	left: 50%;
}

table {
	width: 100%;
	height: auto;
	margin: auto;
	border-collapse: collapse;
}
