.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: -75px; 
}

.new-dataset-button {
    background-color: darkgreen;
    color: white;
    padding: 10px;
    margin-top: 0px; 
}

.table-container {
    max-height: 500px;
    max-width: 1200px;
    overflow-y: auto;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #202020;
}

.datasets-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.datasets-table thead {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    z-index: 1;
}

.datasets-table th, .datasets-table td {
    border: 2px solid #444444;
    padding: 8px;
    text-align: center;
    overflow-wrap: break-word;
}

.datasets-table th {
    background-color: black;
    color: white;
}

.delete-button {
    background-color: darkred;
	margin-right: 8px;
    color: white;
}

.manage-button {
    background-color: #444444;
    color: white;
    margin-right: 8px;
}

.text-hl {
    color: white;
    font-size: 110%;
}

.datasets-table th:nth-child(1), .datasets-table td:nth-child(1) {
    width: 5%;
}

.datasets-table th:nth-child(2), .datasets-table td:nth-child(2) {
    width: 15%;
}

.datasets-table th:nth-child(3), .datasets-table td:nth-child(3) {
    width: 35%;
}

.datasets-table th:nth-child(4), .datasets-table td:nth-child(4) {
    width: 15%;
}

.datasets-table th:nth-child(5), .datasets-table td:nth-child(5) {
    width: 15%;
}

.datasets-table th:nth-child(6), .datasets-table td:nth-child(6) {
    width: 20%;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    background-color: #1b1b1b;
    padding: 20px;
    border: 2px solid white;
    width: 300px;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: darkred;
    text-decoration: none;
    cursor: pointer;
}

.vis-button {
    color: white;
    background-color: #000058;
}
