.grid {
    display: grid;
    gap: 10px;
}

.search-button {
    background-color: #000058;
    color: white;
}

.search-bar {
    min-width: 30%;
    max-width: 500px;
    border-radius: 5px;
    font-size: 140%;
}

.table-container {
    max-height: 500px;
	max-width: 1200px;
    overflow-y: auto;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #202020;
}

.owner-button {
    background-color: #b58b00;
    color: white;
}

.view-button {
    background-color: darkgreen;
    color: white;
	margin-right: 8px;
}

.results-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.results-table thead {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    z-index: 1;
}

.results-table th, .results-table td {
    border: 2px solid #444444;
    padding: 8px;
    text-align: center;
    overflow-wrap: break-word;
}

.results-table th {
    background-color: black;
    color: white;
}

.results-table th:nth-child(1), .results-table td:nth-child(1) {
    width: 5%;
}

.results-table th:nth-child(2), .results-table td:nth-child(2) {
    width: 15%;
}

.results-table th:nth-child(3), .results-table td:nth-child(3) {
    width: 35%;
}

.results-table th:nth-child(4), .results-table td:nth-child(4) {
    width: 15%;
}

.results-table th:nth-child(5), .results-table td:nth-child(5) {
    width: 20%;
}

#dataset-search ul {
    list-style: none;
    padding: 0;
}

#dataset-search li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#dataset-search .results-container {
    max-height: 450px;
    overflow-y: auto;
}

.text-hl {
    color: white;
	font-size: 110%;
}
